<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Showing User With the ID: <%= employee._id %></h1>
    <p>Name: <%= employee.name %></p>
    <p>Age: <%= employee.age %></p>
    <a href=<%=`/employees/${employee._id}/edit`%>>Edit Employee</a>
    <form action="/employees/<%=employee._id%>?_method=DELETE" method="post">
      <button>Delete Employee</button>
    </form>
  </body>
</html>
