<% layout("layouts/boilerplate") %>
<!-- EDIT AUDITORIUM FORM -->
<h1>Editing Auditorium With ID: <%= auditorium._id %></h1>
<form action="/auditoriums/<%=auditorium._id%>?_method=PATCH" method="post">
  <!-- NUMBER -->
  <div>
    <label for="number">Number: </label>
    <input
      type="number"
      name="number"
      id="number"
      value="<%= auditorium.number %>"
    />
  </div>
  <!-- CAPACITY -->
  <div>
    <label for="capacity">Capacity: </label>
    <input
      type="number"
      name="capacity"
      id="capacity"
      value="<%= auditorium.capacity %>"
    />
  </div>
  <!-- PROYECTION TYPE -->
  <div>
    <label for="proyectionType">Proyection Type: </label>
    <input
      type="text"
      name="proyectionType"
      id="proyectionType"
      value="<%= auditorium.proyectionType %>"
    />
  </div>
  <!-- SUBMIT -->
  <div>
    <button>Update auditorium</button>
  </div>
</form>
