<% layout("layouts/boilerplate") %>
<div>
  <h1 style="display: inline-block; margin-right: 10px">Auditoriums Home</h1>
  <form action="/home" style="display: inline-block">
    <button class="btn btn-outline-dark btn-sm">Home</button>
  </form>
</div>
<div class="container d-flex flex-row">
  <div class="container m-2 w-100">
    <!-- NEW AUDITORIUM FORM -->
    <h2>New Auditorium</h2>
    <form
      action="/auditoriums"
      method="POST"
      class="needs-validation"
      novalidate
    >
      <!-- NUMBER -->
      <div class="form-group p-2">
        <label class="form-label" for="number">Number</label>
        <input
          class="form-control mb-2"
          type="number"
          name="number"
          id="number"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Number is Required</div>
      </div>
      <!-- CAPACITY -->
      <div class="form-group p-2">
        <label class="form-label" for="capacity">Capacity</label>
        <input
          class="form-control mb-2"
          type="number"
          name="capacity"
          id="capacity"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Capacity is Required</div>
      </div>
      <!-- PROYECTION TYPE -->
      <div class="form-group p-2">
        <label class="form-label" for="proyectionType">Proyection Type</label>
        <select
          class="form-select"
          name="proyectionType"
          id="proyectionType"
          required
        >
          <option value="2D">2D</option>
          <option value="3D">3D</option>
        </select>
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Proyection Type is Required</div>
      </div>
      <!-- SUBMIT -->
      <div class="form-group p-2">
        <button class="btn btn-outline-dark btn-sm">
          Create New Auditorium
        </button>
      </div>
    </form>
    <!-- SHOWING ALL AUDITORIUMS -->
  </div>
  <div class="container m-2 w-100">
    <h2>Showing all auditoriums</h2>
    <table class="table">
      <!-- TABLE HEADERS -->
      <thead>
        <tr>
          <th>Number</th>
          <th>Capacity</th>
          <th>Proyection Type</th>
          <th>Show</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <!-- TABLE CONTENT -->
      <tbody>
        <% for(auditorium of auditoriums){ %>
        <tr>
          <td><%= auditorium.number %></td>
          <td><%= auditorium.capacity %></td>
          <td><%= auditorium.proyectionType %></td>
          <td>
            <button
              class="btn btn-outline-dark btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#showModal"
              onclick="showModal('<%=JSON.stringify(auditorium)%>')"
            >
              Show
            </button>
          </td>
          <td>
            <button
              class="btn btn-outline-dark btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#updateModal"
              onclick="updateModal('<%=JSON.stringify(auditorium)%>')"
            >
              Update
            </button>
          </td>
          <td>
            <button
              class="btn btn-outline-dark btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
              onclick="deleteModal('<%=JSON.stringify(auditorium)%>')"
            >
              Delete
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<!-- MODALS -->
<!-- SHOW MODAL -->
<div
  class="modal fade"
  id="showModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Showing Auditorium</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- MODAL BODY -->
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Number</th>
              <th>Capacity</th>
              <th>Proyection Type</th>
            </tr>
          </thead>
          <tbody id="modalBody">
            <tr id="rowBody"></tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- UPDATE MODAL -->
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Updating User</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="update_form">
          <!-- NUMBER -->
          <div>
            <label for="number">Number: </label>
            <input type="number" name="number" id="update_number" />
          </div>
          <!-- CAPACITY -->
          <div>
            <label for="capacity">Capacity: </label>
            <input type="number" name="capacity" id="update_capacity" />
          </div>
          <!-- PROYECTION TYPE -->
          <div>
            <label for="proyectionType">Proyection Type: </label>
            <input
              type="text"
              name="proyectionType"
              id="update_proyectionType"
            />
          </div>
          <div>
            <button>Update auditorium</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- DELETE MODAL -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deleting Auditorium</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to delete this auditorium?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <form id="delete_form" method="post">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/auditoriums.js"></script>
<script src="/scripts/formValidation.js"></script>
