<% layout("layouts/boilerplate") %>
<h1>Auditoriums Home</h1>
<div class="container d-flex flex-row">
  <div class="container m-2 w-100">
    <!-- NEW AUDITORIUM FORM -->
    <h2>New Auditorium</h2>
    <form
      action="/auditoriums"
      method="POST"
      class="needs-validation"
      novalidate
    >
      <!-- NUMBER -->
      <div class="form-group p-2">
        <label class="form-label" for="number">Number</label>
        <input
          class="form-control mb-2"
          type="number"
          name="number"
          id="number"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Number is Required</div>
      </div>
      <!-- CAPACITY -->
      <div class="form-group p-2">
        <label class="form-label" for="capacity">Capacity</label>
        <input
          class="form-control mb-2"
          type="number"
          name="capacity"
          id="capacity"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Capacity is Required</div>
      </div>
      <!-- PROYECTION TYPE -->
      <div class="form-group p-2">
        <label class="form-label" for="proyectionType">Proyection Type</label>
        <select
          class="form-select"
          name="proyectionType"
          id="proyectionType"
          required
        >
          <option value="employee">2D</option>
          <option value="stock manager">3D</option>
        </select>
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Proyectio Type is Required</div>
      </div>
      <!-- SUBMIT -->
      <div class="form-group p-2">
        <button>Create New Auditorium</button>
      </div>
    </form>
    <!-- SHOWING ALL AUDITORIUMS -->
  </div>
  <div class="container m-2 w-100">
    <h2>Showing all auditoriums</h2>
    <table class="table">
      <!-- TABLE HEADERS -->
      <thead>
        <tr>
          <th>Number</th>
          <th>Capacity</th>
          <th>Proyection Type</th>
          <th>Show</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <!-- TABLE CONTENT -->
      <tbody>
        <% for(auditorium of auditoriums){ %>
        <tr>
          <td><%= auditorium.number %></td>
          <td><%= auditorium.capacity %></td>
          <td><%= auditorium.proyectionType %></td>
          <td>
            <form action="/auditoriums/<%= auditorium._id%>">
              <button>Show</button>
            </form>
          </td>
          <td>
            <form action="/auditoriums/<%= auditorium._id%>/edit">
              <button>Update</button>
            </form>
          </td>
          <td>
            <form
              action="/auditoriums/<%= auditorium._id%>?_method=DELETE"
              method="post"
            >
              <button>Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<script src="/scripts/formValidation.js"></script>
