<% layout("layouts/boilerplate") %>
<h1>Movies Home</h1>
<div class="container d-flex flex-row">
  <div class="container m-2 w-100">
    <h2>New Movie</h2>
    <form action="/movies" method="POST" class="needs-validation" novalidate>
      <div class="form-group p-2">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control mb-2"
          type="text"
          name="title"
          id="title"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Title is Required</div>
      </div>
      <div class="form-group p-2">
        <label class="form-label" for="year">Year</label>
        <input
          class="form-control mb-2"
          type="number"
          name="year"
          id="year"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Year is Required</div>
      </div>
      <div class="form-group p-2">
        <label class="form-label" for="sinopsis">Sinopsis</label>
        <input
          class="form-control mb-2"
          type="text"
          name="sinopsis"
          id="sinopsis"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Year is Required</div>
      </div>
      <div class="form-group p-2">
        <label class="form-label" for="rating">Rating</label>
        <input
          class="form-control mb-2"
          type="text"
          name="rating"
          id="rating"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Rating is Required</div>
      </div>
      <div class="form-group p-2">
        <label class="form-label" for="language">Language</label>
        <input
          class="form-control mb-2"
          type="text"
          name="language"
          id="language"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Language is Required</div>
      </div>
      <div class="form-group p-2">
        <label class="form-label" for="duration">Duration (In mins)</label>
        <input
          class="form-control mb-2"
          type="number"
          name="duration"
          id="duration"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Language is Required</div>
      </div>
      <div class="form-group p-2">
        <button>Create New Movie</button>
      </div>
    </form>
  </div>
  <!---->
  <div class="container m-2 w-100">
    <h2>Showing all movies</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Year</th>
          <th>Sinposis</th>
          <th>Rating</th>
          <th>Language</th>
          <th>Duration</th>
          <th>Show</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(movie of movies){ %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.year %></td>
          <td><%= movie.sinopsis %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.language %></td>
          <td><%= movie.duration %></td>
          <td>
            <form action="/movies/<%= movie._id%>">
              <button>Show</button>
            </form>
          </td>
          <td>
            <form action="/movies/<%= movie._id%>/edit">
              <button>Update</button>
            </form>
          </td>
          <td>
            <form action="/movies/<%= movie._id%>?_method=DELETE" method="post">
              <button>Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<script src="/scripts/formValidation.js"></script>
