<% layout("layouts/boilerplate") %>
<h1>Showing movie With the ID: <%= movie._id %></h1>
<p>Title: <%= movie.title %></p>
<p>Year: <%= movie.year %></p>
<p>Sinopsis: <%= movie.sinopsis %></p>
<p>Rating: <%= movie.rating %></p>
<p>Language: <%= movie.language %></p>
<p>Duration: <%= movie.duration %></p>
