<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- SHOWING ALL PRODUCTS -->
    <h1>List of products</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Description</th>
          <th>Add</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <% for(product of products){ %>
        <tr>
          <td class="selection_product_name"><%= product.name %></td>
          <td class="selection_product_price"><%= product.price %></td>
          <td><%= product.stock %></td>
          <td><%= product.description %></td>
          <td>
            <button
              onclick="addProduct('<%= product.name %>','<%= product.price %>')"
            >
              Add
            </button>
          </td>
          <td>
            <button
              onclick="removeProduct('<%= product.name %>','<%= product.price %>')"
            >
              Remove
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <!-- PURCHASE OVERVIEW -->
    <h1>Purchase Overview</h1>
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody class="overview_table_body"></tbody>
    </table>
    <script src="/scripts/sellproducts.js"></script>
  </body>
</html>
