<% layout("layouts/boilerplate") %>
<h1>Showing Product Order</h1>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price Per Unit</th>
      <th>Subtotal</th>
      <th>Provider's Cut</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= order.product.name %></td>
      <td><%= order.quantity %></td>
      <td><%= order.pricePerUnit %></td>
      <td><%= order.subtotal %></td>
      <td><%= order.providersCut %></td>
      <td><%= order.total %></td>
    </tr>
  </tbody>
</table>
