<% layout("layouts/boilerplate") %>
<!-- SELECTING THE MOVIE -->
<h1>Selling tickets!</h1>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Invoice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="date">
        <%=new Date().getMonth() + 1%>-<%= new Date().getDate()%>-<%= new
        Date().getFullYear()%>
      </td>
      <td id="invoice"><%= nextInvoice %></td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Price Per Ticket: $9.16</th>
    </tr>
  </thead>
</table>
<div class="container d-flex flex-row">
  <div class="container m-2 w-100">
    <h2>Select The Movie</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Year</th>
          <th>Sinposis</th>
          <th>Rating</th>
          <th>Language</th>
          <th>Duration</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        <% for(movie of movies){ %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.year %></td>
          <td><%= movie.sinopsis %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.language %></td>
          <td><%= movie.duration %></td>
          <td>
            <button
              class="btn btn-primary btn-sm"
              onclick="showsAndOverview('<%= movie.title%>', '<%=shows%>')"
            >
              Select
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <!-- SELECTING SHOW -->
    <h2>Shows Available</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Auditorium</td>
          <th>Day</td>
          <th>Showtime</td>
          <th>Seats Available</td>
          <th>Select</td>
        </tr>
      </thead>
      <tbody id="shows_body"></tbody>
    </table>
    <!-- SELECTING TICKETS -->
    <h2>Number of tickets</h2>
    <button class="btn btn-primary btn-sm" id="substract">-</button>
    <input id="number_tickets" type="number" value="1" readonly />
    <button class="btn btn-primary btn-sm" id="add">+</button>
    <button class="btn btn-primary btn-sm" id="confirm_number_tickets">
      Confirm
    </button>
  </div>
  <!-- PURCHASE OVERVIEW -->
  <div class="container m-2 w-100">
    <h2>Ticket(s) Overview</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Movie</td>
          <th>Auditorium</td>
          <th>Day</td>
          <th>Showtime</td>
          <th>Number of tickets</td>
            <th>Subtotal</th>
          <th>IVA (5%)</th>
          <th>Total</td>
        </tr>
      </thead>
      <tbody id="purchase_overview">
        <tr>
          <td id="overview_movie"></td>
          <td id="overview_auditorium"></td>
          <td id="overview_day"></td>
          <td id="overview_showtime"></td>
          <td id="overview_number_tickets"></td>
          <td id="overview_subtotal"></td>
          <td id="overview_iva"></td>
          <td id="overview_total"></td>
        </tr>
      </tbody>
    </table>
    <form action="/selltickets" method="post" novalidate>
      <input type="text" name="movie" id="movie_form" hidden />
      <input type="number" name="auditorium" id="auditorium_form" hidden />
      <input type="text" name="day" id="day_form" hidden />
      <input type="text" name="showtime" id="showtime_form" hidden />
      <input type="text" name="date" id="date_form" hidden />
      <input
        type="number"
        name="ticketsNumber"
        id="tickets_number_form"
        hidden
      />
      <input type="number" name="total" id="total_form" hidden />
      <button class="btn btn-primary btn-sm" id="confirm_purchase">
        Purchase
      </button>
    </form>
  </div>
  <script src="/scripts/selltickets.js"></script>
</div>
