<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Selling tickets!</h1>
    <!-- SELECTING THE MOVIE -->
    <h2>Select The Movie</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Year</th>
          <th>Sinposis</th>
          <th>Rating</th>
          <th>Language</th>
          <th>Duration</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        <% for(movie of movies){ %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.year %></td>
          <td><%= movie.sinopsis %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.language %></td>
          <td><%= movie.duration %></td>
          <td>
            <button onclick="showShows('<%= movie.title %>', '<% shows%>')">
              Select
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <!-- SELECTING SHOW -->
    <h2>Shows Available</h2>
    <table>
      <thead>
        <tr>
          <td>Auditorium</td>
          <td>Day</td>
          <td>Showtime</td>
          <td>Seats Available</td>
        </tr>
      </thead>
      <tbody id="shows_body">
        <!-- solamente necesito mostrar los que tengan por nombre el seleccionado -->
      </tbody>
    </table>
    <script src="/scripts/selltickets.js"></script>
  </body>
</html>
