<% layout("layouts/boilerplate") %>
<h1>Viewing Sales & Orders</h1>
<div class="container d-flex flex-row">
  <!-- SALES ------------------------------------------------------------------------>
  <div class="container m-2 w-100">
    <div>
      <label for="sale_search">Search By Invoice</label>
      <input type="number" id="sale_search" />
      <button class="btn btn-outline-info" onclick="searchSaleButton()">
        Search
      </button>
    </div>
    <h2>Sales</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Invoice</th>
          <th>Made By</th>
          <th>Type</th>
          <th>Date</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody id="sales_body">
        <% for(sale of sales){ %>
        <tr>
          <td><%=JSON.parse(JSON.stringify(sale)).invoice %></td>
          <td><%= sale.madeBy.name %></td>
          <td><%= sale.type %></td>
          <td><%= sale.date %></td>
          <td>
            <button
              class="btn btn-outline-info"
              data-bs-toggle="modal"      
              <% if(sale.type == "product"){ %> 
                data-bs-target="#showProductSaleModal"
                onclick="showProductSaleModal('<%=JSON.stringify(sale.details)%>', '<%=JSON.stringify(products)%>')"
              <% }else{ %> 
                data-bs-target="#showTicketSaleModal"
                onclick="showTicketSaleModal('<%=JSON.stringify(sale.details)%>', '<%=JSON.stringify(products)%>')"
              <% }%>
            >
              Details
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <!------------------------------------------------------------------------------------->
  <!-- ORDERS --------------------------------------------------------------------------->
  <div class="container m-2 w-100">
    <div>
      <label for="order_search">Search By Invoice</label>
      <input type="number" id="order_search" />
      <button class="btn btn-outline-info" onclick="searchOrderButton()">
        Search
      </button>
    </div>

    <h2>Orders</h2>
    <table class="table">
      <thead>
        <tr>
          <td>Invoice</td>
          <td>Made By</td>
          <td>Date</td>
          <td>Details</td>
        </tr>
      </thead>
      <tbody id="orders_body">
        <% for(order of orders){ %>
        <tr>
          <td><%=JSON.parse(JSON.stringify(order)).invoice %></td>
          <td><%=order.madeBy.name %></td>
          <td><%=order.date %></td>
          <td>
            <button
              class="btn btn-outline-info"
              data-bs-toggle="modal"
              data-bs-target="#showOrderModal"
              onclick="showOrderModal('<%=JSON.stringify(order.details)%>', '<%=JSON.stringify(products)%>')"
            >
              Details
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<!------------------------------------------------------------------------------------->
<!-- SHOW PRODUCT ORDER MODAL --------------------------------------------------------->
<div
  class="modal fade"
  id="showOrderModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Showing Order</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Descripcion</th>
              <th>Price Per Unit</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody id="order_products_table_body"></tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th>Subtotal</th>
              <th>Provider's Cut (%10)</th>
              <th>IVA (%5)</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="order_totals_subtotal">0</td>
              <td id="order_totals_providers_cut">0</td>
              <td id="order_totals_iva">0</td>
              <td id="order_totals_total">0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SHOW PRODUCT SALE MODAL -->
<div
  class="modal fade"
  id="showProductSaleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Showing product sell</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Descripcion</th>
              <th>Price Per Unit</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody id="sale_product_table_body"></tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Subtotal</th>
              <th>IVA (%5)</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td id="sale_product_totals_subtotal">0</td>
              <td id="sale_product_totals_iva">0</td>
              <td id="sale_product_totals_total">0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SHOW TICKET SALE MODAL -->
<div
  class="modal fade"
  id="showTicketSaleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Showing ticket sell</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Descripcion</th>
              <th>Price Per Unit</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody id="products_table_body"></tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th>Subtotal</th>
              <th>Provider's Cut (%10)</th>
              <th>IVA (%5)</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="totals_subtotal">0</td>
              <td id="totals_providers_cut">0</td>
              <td id="totals_iva">0</td>
              <td id="totals_total">0</td>

              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/sales.js"></script>
