<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Editing Product With ID: <%= product._id %></h1>
    <form action="/products/<%=product._id%>?_method=PATCH" method="post">
      <div>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" value="<%= product.name %>" />
      </div>
      <div>
        <label for="price">Price: </label>
        <input
          type="number"
          name="price"
          id="price"
          value="<%= product.price %>"
        />
      </div>
      <div>
        <label for="stock">Stock: </label>
        <input
          type="number"
          name="stock"
          id="stock"
          value="<%= product.stock %>"
        />
      </div>
      <div>
        <label for="description">Description: </label>
        <input
          type="text"
          name="description"
          id="description"
          value="<%= product.description %>"
        />
      </div>
      <div>
        <button>Update Product</button>
      </div>
    </form>
  </body>
</html>
