<% layout("layouts/boilerplate") %>
<h1>Editing Product With ID: <%= product._id %></h1>
<form action="/products/<%=product._id%>?_method=PATCH" method="post">
  <div>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value="<%= product.name %>" />
  </div>
  <div>
    <label for="price">Price Per Unit: </label>
    <input
      type="number"
      name="price"
      id="price"
      value="<%= product.pricePerUnit %>"
    />
  </div>
  <div>
    <label for="stock">Stock Limit: </label>
    <input
      type="number"
      name="stockLimit"
      id="stockLimit"
      value="<%= product.stockLimit %>"
    />
  </div>
  <div>
    <label for="description">Description: </label>
    <input
      type="text"
      name="description"
      id="description"
      value="<%= product.description %>"
    />
  </div>
  <div>
    <button>Update Product</button>
  </div>
</form>
