<% layout("layouts/boilerplate") %>
<h1>Products Home</h1>
<div class="container d-flex flex-row">
  <div class="container m-2 w-100">
    <h3>New Product</h3>
    <form action="/products" method="POST" class="needs-validation" novalidate>
      <div class="form-group p-2">
        <label class="form-label" for="provider">Provider</label>
        <select class="form-select" name="provider" id="provider" required>
          <option value="" selected>Select Provider</option>
          <% for(provider of providers){ %>
          <option value="<%= provider.name %>"><%= provider.name %></option>
          <% } %>
        </select>
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Provider is Required</div>
      </div>
      <div class="form-group p-2">
        <label class="form-label" for="name">Name</label>
        <input
          class="form-control mb-2"
          type="text"
          name="name"
          id="name"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Name is Required</div>
      </div>
      <div class="form-group p-2">
        <label class="form-label" for="price">Price Per Unit</label>
        <input
          class="form-control mb-2"
          type="number"
          name="pricePerUnit"
          id="pricePerUnit"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">PPU is Required</div>
      </div>
      <div class="form-group p-2">
        <label class="form-label" for="stock">Stock Limit</label>
        <input
          class="form-control mb-2"
          type="number"
          name="stockLimit"
          id="stockLimit"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Stock Limit is Required</div>
      </div>
      <div class="form-group p-2">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control mb-2"
          type="text"
          name="description"
          id="description"
          required
        ></textarea>
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Description is Required</div>
      </div>
      <div class="form-group p-2">
        <button class="btn btn-primary btn-sm">Create New Product</button>
      </div>
    </form>
  </div>
  <!-- SHOWING ALL PRODUCTS -->
  <div class="container m-2 w-100">
    <h2>Showing all products</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price Per Unit</th>
          <th>Stock Limit</th>
          <th>Available Stock</th>
          <th>Description</th>
          <th>Show</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(product of products){ %>
        <tr>
          <td><%= product.name %></td>
          <td>$ <%= product.pricePerUnit %></td>
          <td><%= product.stockLimit %></td>
          <td><%= product.stock %></td>
          <td><%= product.description %></td>
          <td>
            <button
              class="btn btn-outline-info"
              data-bs-toggle="modal"
              data-bs-target="#showModal"
              onclick="showModal('<%=JSON.stringify(product)%>')"
            >
              Show
            </button>
          </td>
          <td>
            <button
              class="btn btn-outline-warning"
              data-bs-toggle="modal"
              data-bs-target="#updateModal"
              onclick="updateModal('<%=JSON.stringify(product)%>')"
            >
              Update
            </button>
          </td>
          <td>
            <button
              class="btn btn-outline-danger"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
              onclick="deleteModal('<%=JSON.stringify(product)%>')"
            >
              Delete
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<!-- MODALS -->
<!-- SHOW MODAL -->
<div
  class="modal fade"
  id="showModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Showing Product</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price Per Unit</th>
              <th>Stock Limit</th>
              <th>Available Stock</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody id="modalBody">
            <tr id="rowBody"></tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- UPDATE -->
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Updating Product</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="update_form">
          <div>
            <label for="name">Name: </label>
            <input type="text" name="name" id="update_name" />
          </div>
          <div>
            <label for="price">Price Per Unit: </label>
            <input type="number" name="price" id="update_price" />
          </div>
          <div>
            <label for="stock">Stock Limit: </label>
            <input type="number" name="stockLimit" id="update_stockLimit" />
          </div>
          <div>
            <label for="description">Description: </label>
            <input type="text" name="description" id="update_description" />
          </div>
          <div>
            <button>Update Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deleting User</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to delete this product?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <form id="delete_form" method="post">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/products.js"></script>
<script src="/scripts/formValidation.js"></script>
