<% layout("layouts/boilerplate") %>
<h1>Products Home</h1>
<div class="container d-flex flex-row">
  <div class="container m-2 w-100">
    <h3>New Product</h3>
    <form action="/products" method="POST" class="needs-validation" novalidate>
      <div class="form-group p-2">
        <label class="form-label" for="provider">Provider</label>
        <!-- REQUIRES MONGOOSE VALIDATION -->
        <select class="form-select" name="provider" id="provider" required>
          <option value="" selected>Select Provider</option>
          <% for(provider of providers){ %>
          <option value="<%= provider.name %>"><%= provider.name %></option>
          <% } %>
        </select>
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Provider is Required</div>
      </div>
      <div class="form-group p-2">
        <label class="form-label" for="name">Name</label>
        <input
          class="form-control mb-2"
          type="text"
          name="name"
          id="name"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Name is Required</div>
      </div>
      <div class="form-group p-2">
        <label class="form-label" for="price">Price Per Unit</label>
        <input
          class="form-control mb-2"
          type="number"
          name="pricePerUnit"
          id="pricePerUnit"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">PPU is Required</div>
      </div>
      <div class="form-group p-2">
        <label class="form-label" for="stock">Stock Limit</label>
        <input
          class="form-control mb-2"
          type="number"
          name="stockLimit"
          id="stockLimit"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Stock Limit is Required</div>
      </div>
      <div class="form-group p-2">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control mb-2"
          type="text"
          name="description"
          id="description"
          required
        ></textarea>
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Description is Required</div>
      </div>
      <div class="form-group p-2">
        <button class="btn btn-primary btn-sm">Create New Product</button>
      </div>
    </form>
  </div>
  <!-- SHOWING ALL PRODUCTS -->
  <div class="container m-2 w-100">
    <h2>Showing all products</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price Per Unit</th>
          <th>Stock Limit</th>
          <th>Available Stock</th>
          <th>Description</th>
          <th>Show</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(product of products){ %>
        <tr>
          <td><%= product.name %></td>
          <td>$ <%= product.pricePerUnit %></td>
          <td><%= product.stockLimit %></td>
          <td><%= product.stock %></td>
          <td><%= product.description %></td>
          <td>
            <form action="/products/<%= product._id%>">
              <button class="btn btn-outline-info btn-sm">Show</button>
            </form>
          </td>
          <td>
            <form action="/products/<%= product._id%>/edit">
              <button class="btn btn-outline-warning btn-sm">Update</button>
            </form>
          </td>
          <td>
            <form
              action="/products/<%= product._id%>?_method=DELETE"
              method="post"
            >
              <button class="btn btn-outline-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<script src="/scripts/products.js"></script>
<script src="/scripts/formValidation.js"></script>
