<% layout("layouts/boilerplate") %>
<h1>Products Home</h1>
<div class="container d-flex flex-row">
  <div class="container m-2 w-100">
    <h2>New Product</h2>
    <!-- SHOWING PROVIDERS -->
    <h3>Select a provider</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        <% for(provider of providers){ %>
        <tr>
          <td><%= provider.name %></td>
          <td>
            <button
              class="btn btn-outline-success btn-sm"
              onclick="setProvider('<%= provider.name %>')"
            >
              Select
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <!-- NEW PRODUCT INFORMATION -->
    <h3>New Product Information</h3>
    <form action="/products" method="POST">
      <div>
        <label class="form-label" for="provider">Provider: </label>
        <input
          class="form-control mb-2"
          id="provider"
          type="text"
          name="provider"
          readonly
        />
      </div>
      <div>
        <label class="form-label" for="name">Name: </label>
        <input class="form-control mb-2" type="text" name="name" id="name" />
      </div>
      <div>
        <label class="form-label" for="price">Price Per Unit: </label>
        <input
          class="form-control mb-2"
          type="number"
          name="pricePerUnit"
          id="pricePerUnit"
        />
      </div>
      <div>
        <label class="form-label" for="stock">Stock Limit: </label>
        <input
          class="form-control mb-2"
          type="number"
          name="stockLimit"
          id="stockLimit"
        />
      </div>
      <div>
        <label class="form-label" for="description">Description: </label>
        <input
          class="form-control mb-2"
          type="text"
          name="description"
          id="description"
        />
      </div>
      <div>
        <button class="btn btn-primary btn-sm">Create New Product</button>
      </div>
    </form>
  </div>
  <!-- SHOWING ALL PRODUCTS -->
  <div class="container m-2 w-100">
    <h2>Showing all products</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price Per Unit</th>
          <th>Stock Limit</th>
          <th>Available Stock</th>
          <th>Description</th>
          <th>Show</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(product of products){ %>
        <tr>
          <td><%= product.name %></td>
          <td>$ <%= product.pricePerUnit %></td>
          <td><%= product.stockLimit %></td>
          <td><%= product.stock %></td>
          <td><%= product.description %></td>
          <td>
            <form action="/products/<%= product._id%>">
              <button class="btn btn-outline-info btn-sm">Show</button>
            </form>
          </td>
          <td>
            <form action="/products/<%= product._id%>/edit">
              <button class="btn btn-outline-warning btn-sm">Update</button>
            </form>
          </td>
          <td>
            <form
              action="/products/<%= product._id%>?_method=DELETE"
              method="post"
            >
              <button class="btn btn-outline-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<script src="/scripts/products.js"></script>
