<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Showing Product With the ID: <%= product._id %></h1>
    <p>Name: <%= product.name %></p>
    <p>Price Per Unit: <%= product.pricePerUnit %></p>
    <p>Stock Limit : <%= product.stockLimit %></p>
    <p>Stock: <%= product.stock %></p>
    <p>Description: <%= product.description %></p>
  </body>
</html>
