<% layout("layouts/boilerplate") %>
<div>
  <h1 style="display: inline-block; margin-right: 10px">Providers Home</h1>
  <form action="/home" style="display: inline-block">
    <button class="btn btn-outline-dark btn-sm">Home</button>
  </form>
</div>
<div class="container d-flex flex-row">
  <div class="container">
    <h2>New Provider</h2>
    <form action="/providers" method="POST" class="needs-validation" novalidate>
      <div class="form-group p-2">
        <label class="form-label" for="name">Name</label>
        <input
          class="form-control mb-2"
          type="text"
          name="name"
          id="name"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Name is Required</div>
      </div>
      <div class="form-group p-2">
        <label class="form-label" for="phone">Phone Number</label>
        <input
          class="form-control mb-2"
          min="0"
          max="9999999999"
          type="number"
          name="phone"
          id="phone"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Phone Number is Required</div>
      </div>
      <div class="form-group p-2">
        <label class="form-label" for="email">Email: </label>
        <input
          class="form-control mb-2"
          type="email"
          name="email"
          id="email"
          required
        />
        <div class="valid-feedback">Everything's Good</div>
        <div class="invalid-feedback">Email is Required | Check the format</div>
      </div>
      <div>
        <button class="btn btn-primary">Create New Provider</button>
      </div>
    </form>
  </div>
  <div class="container">
    <h2>Showing all providers</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Show</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(provider of providers){ %>
        <tr>
          <td><%= provider.name %></td>
          <td><%= provider.phone %></td>
          <td><%= provider.email %></td>
          <td>
            <form action="/providers/<%= provider._id%>">
              <button class="btn btn-outline-info btn-sm">Show</button>
            </form>
          </td>
          <td>
            <form action="/providers/<%= provider._id%>/edit">
              <button class="btn btn-outline-warning btn-sm">Update</button>
            </form>
          </td>
          <td>
            <form
              action="/providers/<%= provider._id%>?_method=DELETE"
              method="post"
            >
              <button class="btn btn-outline-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<script src="/scripts/formValidation.js"></script>
