<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- SHOWING THE PROVIDER INFORMATION -->
    <div>
      <h1>Showing Provider With the ID: <%= provider._id %></h1>
      <p>Name: <%= provider.name %></p>
      <p>Phone Number: <%= provider.phone %></p>
      <p>Email: <%= provider.email %></p>
    </div>
    <!-- SHOWING THE PRODUCT LINKED TO THE PROVIDER -->
    <div>
      <h1>Showing products related to this provider</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% for(product of provider.products){%>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.stock %></td>
            <td><%= product.description %></td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </div>
  </body>
</html>
